<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Title of the document</title>
    <style>
        table.border {
            border-collapse: collapse;
        }

            table.border th {
                padding: 5px;
                border: 1px solid black;
            }

            table.border td {
                padding: 5px;
                border: 1px solid black;
            }
    </style>
</head>

<body>
    <table style="width:100%">
        <tr>
            <td style="width:20%"></td>
            <td style="width:60%" align="center" valign="top">
                <table>
                    <tr>
                        <td align="center">
                            <h4 style="margin:0px"></h4>
                        </td>
                    </tr>
                    <tr>
                        <td align="center"> </td>
                    </tr>
                    <tr>
                        <td align="center"></td>
                    </tr>
                </table>
            </td>
            <td style="width:20%">
                <table style="width:100%">
                    <tr>
                        <td align="center"></td>
                    </tr>
                    <tr>
                        <td align="center"></td>
                    </tr>
                    <tr>
                        <td align="center"></td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td colspan="3" height="20"></td>
        </tr>
    </table>

    <table style="width:100%">
        <tr>
            <td style="width:17%">
                <table class="border" style="width:99%">
                    <tr>
                        <td style="width:20%;border-bottom:1px;border-right:1px"> </td>
                        <td style="width:20%;border-bottom:1px;border-left:1px"> </td>
                    </tr>
                    <tr>
                        <td style="width:20%;border-bottom:1px;border-right:1px;border-top:3px"> </td>
                        <td style="width:20%;border-bottom:1px;border-left:1px;border-top:3px"> </td>
                    </tr>
                    <tr>
                        <td style="width:10%;border-right:1px;border-bottom:3px;border-top:3px">Nro Afiliado:</td>
                        <td style="width:90%;border-bottom:3px;border-left:3px;border-top:3px">@AFI</td>
                    </tr>
                    <tr>
                        <td style="width:100%;border-top:1px;border-bottom:3px;border-right:0px">@AFI_NOMBRE</td>
                        <td style="width:100%;border-top:1px;border-left:0px;border-bottom:3px"> </td>
                    </tr>
                    <tr>
                        <td style="width:100%;border-top:1px;border-right:0px;border-bottom:3px"> </td>
                        <td style="width:100%;border-top:1px;border-left:0px;border-bottom:3px"> </td>
                    </tr>
                    <tr>
                        <td style="width:100%;border-top:1px;border-right:0px"> </td>
                        <td style="width:100%;border-top:1px;border-left:0px"> </td>
                    </tr>
                </table>
            </td>
            <td style="width:24%" align="center">
                <table class="border" style="width:83%">
                    <tr>
                        <td style="width:20%;border-bottom:1px;border-right:1px"> </td>
                        <td style="width:20%;border-bottom:1px;border-left:1px"> </td>
                    </tr>
                    <tr>
                        <td style="width:20%;border-bottom:1px;border-right:1px;border-top:3px"> </td>
                        <td style="width:20%;border-bottom:1px;border-left:1px;border-top:3px"> </td>
                    </tr>
                    <tr>
                        <td style="width:20%;border-right:1px;border-bottom:3px;border-top:3px">Orden Nro:</td>
                        <td style="width:80%;border-bottom:3px;border-left:3px;border-top:3px">@AFI_ORDEN</td>
                    </tr>
                    <tr>
                        <td style="width:100%;border-top:1px;border-bottom:3px;border-right:0px">@AFI_FECHA</td>
                        <td style="width:100%;border-top:1px;border-left:0px;border-bottom:3px"> </td>
                    </tr>
                    <tr>
                        <td style="width:100%;border-top:1px;border-right:0px;border-bottom:3px"> </td>
                        <td style="width:100%;border-top:1px;border-left:0px;border-bottom:3px"> </td>
                    </tr>
                    <tr>
                        <td style="width:100%;border-top:1px;border-right:0px"> </td>
                        <td style="width:100%;border-top:1px;border-left:0px"> </td>
                    </tr>
                </table>
            </td>
            <td style="width:21.4%" align="left">
                <table class="border" style="width:95%">
                    <tr>
                        <td style="width:20%;border-bottom:1px;border-right:1px"> </td>
                        <td style="width:20%;border-bottom:1px;border-left:1px"> </td>
                    </tr>
                    <tr>
                        <td style="width:20%;border-bottom:1px;border-right:1px;border-top:3px"> </td>
                        <td style="width:20%;border-bottom:1px;border-left:1px;border-top:3px"> </td>
                    </tr>
                    <tr>
                        <td style="width:100%;border-top:1px;border-right:0px;border-bottom:3px"> </td>
                        <td style="width:100%;border-top:1px;border-left:0px;border-bottom:3px"> </td>
                    </tr>
                    <tr>
                        <td style="width:100%;border-top:1px;border-right:0px;border-bottom:3px"> </td>
                        <td style="width:100%;border-top:1px;border-left:0px;border-bottom:3px"> </td>
                    </tr>
                    <tr>
                        <td style=";border-top:1px;border-bottom:3px;border-right:0px"> @FECHA</td>
                        <td style="width:100%;border-top:1px;border-left:0px;border-bottom:3px"> </td>
                    </tr>
                    <tr>
                        <td style="width:100%;border-top:1px;border-right:0px;border-bottom:3px"> </td>
                        <td style="width:100%;border-top:1px;border-left:0px;border-bottom:3px"> </td>
                    </tr>
                    <tr>
                        <td style="width:100%;border-top:1px;border-right:0px;border-bottom:3px"> </td>
                        <td style="width:100%;border-top:1px;border-left:0px;border-bottom:3px"> </td>
                    </tr>
                    <tr>
                        <td style="width:100%;border-top:1px;border-right:0px"> </td>
                        <td style="width:100%;border-top:1px;border-left:0px"> </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td colspan="3" height="20"></td>
        </tr>

    </table>

    <table style="width:100%">
        <tr>
            <td style="width:48%">
                <table class="border" style="width:95%" valign="top">
                    <tr>
                        <td style="width:20%;border-bottom:1px;border-right:1px"> </td>
                        <td style="width:20%;border-bottom:1px;border-left:1px"> </td>
                    </tr>
                    <tr>
                        <td style="width:20%;border-bottom:1px;border-right:1px;border-top:3px"> </td>
                        <td style="width:20%;border-bottom:1px;border-left:1px;border-top:3px"> </td>
                    </tr>
                    <tr>
                        <td style="width:10%;border-right:1px;border-bottom:3px;border-top:3px">Sr. Director de IR AL PRESTADOR CONTRATADO QUE DESEE</td>
                        <td style="width:90%;border-bottom:3px;border-left:3px;border-top:3px"></td>
                    </tr>
                    <tr>
                        <td style="height:60px;width:100%;border-top:1px;border-right:0px;border-bottom:0px"> </td>
                        <td style="width:100%;border-top:1px;border-left:0px;border-bottom:0px"> </td>
                    </tr>
                    <tr>
                        <td style="width:100%;border-top:0px;border-bottom:3px;border-right:0px">Enviamos al afiliado @AFI_NOMBRE Nro: @AFI para que por cuenta de O.S.P.S.A se le preste asistencia médica para la prestación</td>
                        <td style="width:100%;border-top:1px;border-left:0px;border-bottom:3px">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100%;border-top:0px;border-bottom:3px;border-right:0px">ELECTROENCEFALOGRAMA BAJO SUEÑO</td>
                        <td style="width:100%;border-top:1px;border-left:0px;border-bottom:3px">
                        </td>
                    </tr>
                    <tr>
                        <td style="height:30px;width:100%;border-top:1px;border-right:0px;border-bottom:0px"> </td>
                        <td style="width:100%;border-top:1px;border-left:0px;border-bottom:0px"> </td>
                    </tr>
                    <tr>
                        <td style="width:80%;border-top:0px;border-bottom:3px;border-right:0px">FILIAL MORON S/CARGO  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp CANTIDAD: 1 </td>
                        <td style=";width:100%;border-top:1px;border-left:0px;border-bottom:3px">
                        </td>
                    </tr>
                    <tr>
                    <tr>
                        <td style="height:24px;width:100%;border-top:1px;border-right:0px;border-bottom:3px"> </td>
                        <td style="width:100%;border-top:1px;border-left:0px;border-bottom:3px"> </td>
                    </tr>
                    <td style="width:80%;border-top:0px;border-bottom:1px;border-right:0px">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspATENTAMENTE </td>
                    <td style=";width:100%;border-top:1px;border-left:0px;border-bottom:3px">
                    </td>
        </tr>
        <tr>
            <td style="height:18px;width:20%;border-bottom:1px;border-right:1px;border-top:1px"> </td>
            <td style="width:20%;border-bottom:1px;border-left:1px;border-top:3px"> </td>
        </tr>
        <tr>
            <td style="width:100%;border-top:1px;border-right:0px"> </td>
            <td style="width:100%;border-top:1px;border-left:0px"> </td>
        </tr>
        <tr>
            <td style="height:2px;width:100%;border-top:1px;border-left:0px;border-right:0px;border-bottom:3px"> </td>
            <td style="width:100%;border-top:1px;border-left:0px;border-right:0px"> </td>
        </tr>
        <tr>
            <td style="width:20%;border-bottom:1px;border-right:1px;border-top:px"> </td>
            <td style="width:20%;border-bottom:1px;border-left:1px;border-top:3px"> </td>
        </tr>
        <tr>
            <td style="width:80%;border-top:1px;border-bottom:3px;border-right:0px">Obs: Todo gasto de medicamentos, radiología o analisis efectuados al afiliado internado debe efectuarse a cargo de OSPSA. </td>
            <td style=";width:100%;border-top:1px;border-left:0px;border-bottom:3px">
            </td>
        </tr>
        <tr>
            <td style="width:20%;border-bottom:1px;border-right:1px;border-top:3px"> </td>
            <td style="width:20%;border-bottom:1px;border-left:1px;border-top:3px"> </td>
        </tr>
        <tr>
            <td style="width:100%;border-top:1px;border-right:0px"> </td>
            <td style="width:100%;border-top:1px;border-left:0px"> </td>
        </tr>
    </table>
    </td>

    <td style="width:20%" align="left">
        <table class="border" style="width:95%">
            <tr>
                <td style="width:20%;border-bottom:1px;border-right:1px"> </td>
                <td style="width:20%;border-bottom:1px;border-left:1px"> </td>
            </tr>
            <tr>
                <td style="width:20%;border-bottom:1px;border-right:1px;border-top:3px"> </td>
                <td style="width:20%;border-bottom:1px;border-left:1px;border-top:3px"> </td>
            </tr>
            <tr>
                <td style="width:100%;border-top:1px;border-right:0px;border-bottom:3px"> </td>
                <td style="width:100%;border-top:1px;border-left:0px;border-bottom:3px"> </td>
            </tr>
            <tr>
                <td style="width:20%;border-right:1px;border-bottom:3px;border-top:3px">Orden Nro:</td>
                <td style="width:80%;border-bottom:3px;border-left:3px;border-top:3px">@AFI_ORDEN</td>
            </tr>
            <tr>
                <td style="width:20%;border-right:1px;border-bottom:3px;border-top:3px">COD.PRESTAC:</td>
                <td style="width:80%;border-bottom:3px;border-left:3px;border-top:3px">@AFI_PRESTACION</td>
            </tr>
            <tr>
                <td style="width:20%;border-right:1px;border-bottom:3px;border-top:3px">CANTIDAD:</td>
                <td style="width:80%;border-bottom:3px;border-left:3px;border-top:3px">@AFI_CANTIDAD</td>
            </tr>
            <tr>
                <td style="width:20%;border-right:1px;border-bottom:3px;border-top:3px">AFILIADO:</td>
                <td style="width:80%;border-bottom:3px;border-left:3px;border-top:3px">@AFI</td>
            </tr>
            <tr>
                <td style="width:20%;border-bottom:1px;border-right:1px;border-top:3px"> </td>
                <td style="width:20%;border-bottom:1px;border-left:1px;border-top:3px"> </td>
            </tr>
            <tr>
                <td style="width:20%;border-bottom:1px;border-right:1px;border-top:3px"> </td>
                <td style="width:20%;border-bottom:1px;border-left:1px;border-top:3px"> </td>
            </tr>
            <tr>
                <td style="width:20%;border-right:1px;border-bottom:3px;border-top:3px">@AFI_NOMBRE</td>
                <td style="width:80%;border-bottom:3px;border-left:3px;border-top:3px">@AFI</td>
            </tr>
            <tr>
                <td style="width:20%;border-bottom:1px;border-right:1px;border-top:3px"> </td>
                <td style="width:20%;border-bottom:1px;border-left:1px;border-top:3px"> </td>
            </tr>
            <tr>
                <td style="width:20%;border-bottom:1px;border-right:1px;border-top:3px"> </td>
                <td style="width:20%;border-bottom:1px;border-left:1px;border-top:3px"> </td>
            </tr>
            <tr>
                <td style="width:20%;border-bottom:1px;border-right:1px;border-top:3px">IR AL PRESTADOR CONTRATADO </td>
                <td style="width:20%;border-bottom:1px;border-left:1px;border-top:3px"> </td>
            </tr>
            <tr>
                <td style="height:50px;width:20%;border-bottom:1px;border-right:1px;border-top:3px"> </td>
                <td style="width:20%;border-bottom:1px;border-left:1px;border-top:3px"> </td>
            </tr>
            <tr>
                <td style="width:20%;border-right:1px;border-bottom:3px;border-top:3px">FILIAL MORON S/CARGO</td>
                <td style="width:20%;border-bottom:1px;border-left:1px;border-top:3px"> </td>
            </tr>
            <tr>
                <td style="width:20%;border-right:1px;border-bottom:3px;border-top:3px">COD. DE PRESTADOR:</td>
                <td style="width:20%;border-bottom:1px;border-left:1px;border-top:3px">@COD_PRESTADOR </td>
            </tr>
            <tr>
                <td style="height:50px;width:100%;border-top:1px;border-right:0px"> </td>
                <td style="width:100%;border-top:1px;border-left:0px"> </td>
            </tr>
        </table>
    </td>
    </tr>

    <tr>
        <td colspan="3" height="20"></td>
    </tr>

    </table>


    <tr>
        <td colspan="3" height="30"></td>
    </tr>

    <tr>
    </tr>
</body>

</html>