@{
    ViewBag.Title = "ATSA";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#DNIAfiliado, #NroAfiliado").ForceNumericOnly();
    });

    var idEncontrado;
    var data_afiliado;

    function ObtenerDatosAfiliado() {
        var dni = $("#DNIAfiliado").val();
        var nroAfiliado = $("#NroAfiliado").val();

        if (dni.length == 0 && nroAfiliado.length == 0) {
            Mensajes.MostrarOK("Debe ingresar DNI o Numero de Afiliado.");
            return;
        }

        MostrarCargando();
        $.ajax({
            url: 'Home/GetAfiliado',
            method: 'POST',
            data: { DNI: dni, Numero: nroAfiliado },
            dataType: 'json',
            success: function (data) {
                OcultarCargando();
                if (data.success == true) {
                    if (data.encontrado) {
                        data_afiliado = data.datos;
                        console.log(data_afiliado);
                        idEncontrado = data.datos.numeroAfiliado;
                        console.log(data.datos.id);
                        console.log(idEncontrado);
                        $("#Nombre").val(data.datos.nombre);
                        $("#Apellido").val(data.datos.apellido);
                        $("#DNI").val(data.datos.dni);
                        $("#Localidad").val(data.datos.localidad);
                        $("#Telefono").val(data.datos.telefono);
                        $("#Direccion").val(data.datos.domicilio);
                        $("#FechaNacimiento").val(data.datos.fechaNacimiento);
                        $("#Edad").val(data.datos.edad);
                        $("#Email").val(data.datos.email);
                        $("#Estado").val(data.datos.estado);
                        $("#NroAfiliado").val(data.datos.numeroAfiliado);
                        $("#Establecimiento").val(data.datos.establecimiento);

                        if (data.datos.sexo == "F") {
                            $("#chkM").removeAttr("checked");
                            $("#chkF").attr("checked", "checked");
                        }
                        else {
                            $("#chkF").removeAttr("checked");
                            $("#chkM").attr("checked", "checked");
                        }

                        $(".chkEstadoCivil").removeAttr("checked");

                        $(".chkEstadoCivil[value='" + data.datos.estado_civil + "']").attr("checked", "checked");

                        $(".rowFamiliar").html("");
                        if (data.datos.familiares.length > 0) {
                            var html = '';
                            $.each(data.datos.familiares, function (i, familiar) {
                                html += '<div class="col-xs-1">';
                                html += '    <center><h3>#' + (i + 1) + '</h3></center>';
                                html += '</div>';
                                html += '<div class="col-xs-4">';
                                html += '    <div class="form-group">';
                                html += '        <label>Nombre</label>';
                                html += '        <input type="text" name="FamiliarNombre1" id="FamiliarNombre1" readonly="" value="' + familiar.Nombre + '" class="form-control">';
                                html += '    </div>';
                                html += '</div>';
                                html += '<div class="col-xs-4">';
                                html += '    <div class="form-group">';
                                html += '        <label>Apellido</label>';
                                html += '        <input type="text" name="FamiliarApellido1" id="FamiliarApellido1" readonly="" value="' + familiar.Apellido + '" class="form-control">';
                                html += '    </div>';
                                html += '</div>';
                                html += '<div class="col-xs-3">';
                                html += '    <div class="form-group">';
                                html += '        <label>DNI</label>';
                                html += '        <input type="text" name="FamiliarDNI1" id="FamiliarDNI1" readonly="" value="' + familiar.DNI + '" class="form-control">';
                                html += '    </div>';
                                html += '</div>';
                                $(".rowFamiliar").html(html);
                            });
                        } else {
                            $(".rowFamiliar").html("<center><b style='color: red;'>Sin familiares</b></center>");
                        }
                    }
                    else
                        Mensajes.MostrarOK("El afiliado debe consultar su Estado en afiliaciones.");
                }
                else {
                    Mensajes.MostrarError(data.error);
                }
            }
        });
        console.log("despues cuando termina el ajax");
        console.log(idEncontrado);
    }

    function seleccionarTipoCupon(tipo) {
        tipo == '3' ? $('#myModal').modal('show') : crearCupon(tipo);
    }

    function crearCupon(tipo,cantidad) {

        var id = idEncontrado; 
        $.ajax({
            url: '/cupones/Home/Grabar', //produccion
            /*url: '/Home/Grabar', //test*/
            method: 'POST',

            data: {
                afiliado_id: id,
                afiliado_nombre: data_afiliado.nombre,
                afiliado_apellido: data_afiliado.apellido,
                cupon_cantidad : cantidad
            },
            dataType: 'json',
            success: function (data) {
                window.open("/cupones/Home/ImprimirCupon?id=" + id + "&tipo=" + tipo + "&cantidad=" + cantidad + "&nroOrden=" + data.id, "_blank"); //produccion
                location.href = "/cupones/Home"; //produccion
                //window.open("/Home/ImprimirCupon?id=" + id + "&tipo=" + tipo + "&cantidad=" + cantidad + "&nroOrden=" + data.id, "_blank"); //test
                //location.href = "/Home";//test
                Mensajes.MostrarOK("OK.");
            }
        });
    }


</script>
<br />
<div class="col-xs-10 col-xs-offset-1">
    <div class="row">
        <div class="col-xs-5">
            <h3 style="margin-top:0px;">Generador de bonos/cupos</h3>
        </div>
        <div class="col-xs-3">
            <div class="input-group">
                <span class="input-group-addon">N° Afiliado</span>
                <input type="text" class="form-control" aria-label="" id="NroAfiliado" name="NroAfiliado">
            </div>
        </div>
        <div class="col-xs-3">
            <div class="input-group">
                <span class="input-group-addon">DNI</span>
                <input type="text" class="form-control" aria-label="" id="DNIAfiliado" name="DNIAfiliado">
            </div>
        </div>
        <div class="col-xs-1">
            <button class="btn btn-success2" onclick="ObtenerDatosAfiliado()" style="width:100%;"><center><span class="glyphicon glyphicon-search"></span></center></button>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-3">
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" name="Nombre" id="Nombre" readonly="" class="form-control">
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <label>Apellido</label>
                <input type="text" name="Apellido" id="Apellido" readonly="" class="form-control">
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <label>DNI</label>
                <input type="text" name="DNI" id="DNI" readonly="" class="form-control">
            </div>
        </div>
        <div class="col-xs-1">
            <div class="form-group">
                <label>Edad</label>
                <input type="text" name="Edad" id="Edad" readonly="" class="form-control">
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <label>Fecha de nacimiento</label>
                <input type="text" name="FechaNacimiento" id="FechaNacimiento" class="form-control" readonly="" value="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div class="form-group">
                <label>Estado</label>
                <input type="text" name="Estado" id="Estado" readonly="" class="form-control">
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <label>Dirección</label>
                <input type="text" name="Direccion" id="Direccion" readonly="" class="form-control">
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <label>Localidad</label>
                <input type="text" name="Localidad" id="Localidad" readonly="" class="form-control">
            </div>
        </div>
        <div class="col-xs-3">
            <div class="input-group">
                <span class="input-group-addon">Sexo</span>
                <div class="form-control">
                    <input type="checkbox" id="chkM" class="chkSexo" value="M" disabled="disabled" style="float:left;"><label style="float:left; margin-left:5px;"><b>M</b></label>
                    <input type="checkbox" id="chkF" class="chkSexo" value="F" disabled="disabled" style="float:left; margin-left:20px;"><label style="float:left; margin-left:5px;"><b>F</b></label>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style=" display: flex; align-items: flex-end;">
        <div class="col-xs-1">
            <center>
                <p>
                    Seguro Prosam
                </p>
            </center>
            <button class="btn btn-success" onclick="abrirModalCantidad('1')" style="width:100%;">
                <center>
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </center>
            </button>
        </div>
        <div class="col-xs-1">
            <center>
                <p>
                    Seguro Cepro
                </p>
            </center>
            <button class="btn btn-success" onclick="abrirModalCantidad('2')" style="width:100%;"><center><span class="glyphicon glyphicon-plus-sign"></span></center></button>
        </div>
        <div class="col-xs-1">
            <center>
                <p>
                    Méd. de cabecera
                </p>
            </center>
            <button class="btn btn-success" onclick="seleccionarTipoCupon('3')" style="width:100%;"><center><span class="glyphicon glyphicon-plus-sign"></span></center></button>
        </div>
    </div>

    <hr>
    <!-- <h4>Grupo Familiar</h4>

     <div class="row rowFamiliar">
         <center><b>Primero busque un afiliado</b></center>
     </div>
        -->

</div>
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center mb-0" style="background-color: #f8f9fa; padding: 10px;">Seleccione un Médico de Cabecera</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" onclick="abrirModalCantidad('3A')">Consultorio San Miguel</button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" onclick="abrirModalCantidad('3B')">Dra. Jativa Sambrano</button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" onclick="abrirModalCantidad('3C')">Red de Oftalmología</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Nuevo modal más pequeño para ingresar cantidad -->
<div id="modalCantidad" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center mb-0">Cantidad de Bonos</h4>
            </div>
            <div class="modal-body">
                <form>
                    <!-- Controles para subir y bajar cantidad en el nuevo modal -->
                    <div class="form-group">
                       
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-secondary" onclick="restarCantidad()">-</button>
                            </span>
                            <input type="number" id="cantidad" class="form-control text-center" value="1" min="1" onkeydown="validarEntrada(event)">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-secondary" onclick="sumarCantidad()">+</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="actualizarCantidad()">Imprimir</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function abrirModalCantidad(tipo) {
        // Establecer el tipo seleccionado en el nuevo modal
        $('#cantidad').data('tipo', tipo);

        // Mostrar el nuevo modal
        $('#modalCantidad').modal('show');
    }

    function sumarCantidad() {
        var inputCantidad = document.getElementById('cantidad');
        var valorCantidad = parseInt(inputCantidad.value, 10);
        inputCantidad.value = valorCantidad + 1;
    }

    function restarCantidad() {
        var inputCantidad = document.getElementById('cantidad');
        var valorCantidad = parseInt(inputCantidad.value, 10);
        if (valorCantidad > 1) {
            inputCantidad.value = valorCantidad - 1;
        }
    }

    function actualizarCantidad() {
        var nuevaCantidad = parseInt($('#cantidad').val(), 10);
        if (!isNaN(nuevaCantidad) && nuevaCantidad >= 1) {
            var tipo = $('#cantidad').data('tipo');
            crearCupon(tipo, nuevaCantidad);
        }
        $('#modalCantidad').modal('hide');
    }

    function validarEntrada(event) {
        if (event.key < '0' || event.key > '9') {
            event.preventDefault();
        }
    }
</script>





